<!-- Left Sidebar  -->
<div class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li class="nav-label">Menu</li>
                <li>
                    <a href="index.html" aria-expanded="false">
                        <i class="fa fa-tachometer"></i>
                        <span class="hide-menu">Dashboard
                        </span>
                    </a>
                </li>
                <li>
                    <li>
                        <a class="has-arrow  " href="#" aria-expanded="false">
                            <i class="fa fa-car"></i>
                            <span class="hide-menu">
                                <span class="hide-menu">Opciones</span>
                        </a>
                        <ul aria-expanded="false" class="collapse">
                            <li>
                                <a href="reg-roles.html"> <i class="fa fa-wrench"> </i>Registrar Roles</a>
                            </li>
                            <li>
                                <a href="reg-usuarios.html"><i class="fa fa-user"></i>Registrar Usuarios</a>
                            </li>
                            <li>
                                <a href="reg-cliente.html"><i class="fa fa-usd"></i>Registrar Clientes</a>
                            </li>
                            <li>
                                <a href="reg-zona.html"><i class="fa fa-location-arrow"></i>Registrar Zonas</a>
                            </li>
                            <li>
                                <a href="reg-parqueo.html"><i class="fa fa-vcard"></i>Registrar Parqueo</a>
                            </li>
                        </ul>
                    </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</div>
<!-- End Left Sidebar  -->