<!-- Left Sidebar  -->

<!-- Sidebar scroll-->
<div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
        <ul id="sidebarnav">
            <li class="nav-devider"></li>
            <li class="nav-label">Menu</li>
            <li>
                <a href="index.html" aria-expanded="false">
                    <i class="fa fa-tachometer"></i>
                    <span class="hide-menu">Dashboard
                    </span>
                </a>
            </li>
            <li>
                <a class="has-arrow  " href="#" aria-expanded="false">
                    <i class="fa fa-edit"></i>
                    <span class="hide-menu">Registro</span>
                </a>
                <ul aria-expanded="false" class="collapse">
                    <li>
                        <a href="reg-cliente.html">Registrar Cliente</a>
                    </li>
                    <li>
                        <a href="reg-parqueo.html">Registrar Parqueo</a>
                    </li>
                    <li>
                        <a href="reg-zona.html">Registrar Zona</a>
                    </li>

                </ul>
            </li>
        </ul>
    </nav>
    <!-- End Sidebar navigation -->
</div>
<!-- End Sidebar scroll-->

<!-- End Left Sidebar  -->